.game {
    margin-top: 30px;
}
.points span {
    font-weight: bold;
}
p{
    font-size: 18px;
}
.tip span{
    color: rgba(133, 116, 20, 0.945);
    font-weight: bold;
}

.wordContainer {
    display: flex;
    border: 15px solid #302b63;
    padding: 20px;
    margin: 1.5em;
    justify-content: center;
}

.letter, .blankSquare{
    font-size: 70px;
    color: #302b63;
    background-color: white;
    height: 100px;
    width: 100px;
    border: 3px solid #302b63;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px
}

.letterContainer p{
    margin-bottom: 1.2px;
    font-weight: bold;
}

.letterContainer form{
    padding: 10px
}

.letterContainer input{
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: 3px solid #302b63;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #302b63;
    text-transform: uppercase;
}

.wrongLettersContainer{
    font-weight:bold;
    margin: 0;
    padding: 0;
}

.wrongLettersContainer span {
    color: black;
    margin: 0;
    padding: 0;
}

/*até 360px = mobile*/
@media(max-width: 600px){
    p{
        font-size: 15px
    }
    .game{
        font-size: 15px;
    }
    .tip span{
        font-size: 15px
    }

    .letter, .blankSquare{
        height: 30px;
        width: 30px;
        margin: 5px;
        font-size:20px;
        align-items: center;
    }
    .wordContainer {
        padding: 5px;
        margin: 0
    }
    .letterContainer input{
        width: 80px;
        height: 80px;
        border-radius: 10px;
        font-size: 20px;
    }

    
  }